<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <h1>Hello, {{name}}!</h1>

    <form method="post">
        Name: <input id="name" name="name" type="text"><br>
        <br>
        Lastname: <input id="lastname" name="lastname" type="text"><br>
        <br>
        <button id="button" type="button">Click Me!</button>
    </form><br>

    <form method="post">
        Num1: <input id="num1" name="num1" type="text"><br>
        <br>
        Num2: <input id="num2" name="num2" type="text"><br>
        <br>
        Num3: <input id="num3" name="num3" type="text"><br>
        <br>
        <button id="numbutton" type="button">Click Me Too!</button>
    </form>

    <div id="result"></div><script src=
    "//code.jquery.com/jquery-1.11.3.min.js"></script> <script>

$(function() {
    $( "#button" ).click(function() {
      var name =  $("#name").val();
      var lastname =  $("#lastname").val();
      var toSend = {name: name, lastname: lastname};
      var post = sendPost('add',toSend);
      post();
    });

    $( "#numbutton" ).click(function() {
      var num1 =  $("#num1").val() || '1';
      var num2 =  $("#num2").val() || '1';
      var num3 =  $("#num3").val() || '1';
      var toSend = {num1: num1, num2: num2, num3:num3};
      var post = sendPost('num',toSend);
      post();
    });



    var sendPost = function(url,stuff){
      return function(){
        $.ajax({
            method: "POST",
            url: url,
            data: stuff
              }).done(function( bat ) {
                  alert( "Data Saved: " + bat );
              }).fail(function() {
                  alert( "error" );
              }).always(function() {
                  alert( "complete" ); 
              });
      };
    };

});

    </script>
</body>
</html>