<!DOCTYPE html>
<html>
<head>
    <title>Hi</title>
</head>

<body>
    <ul>
        <li style="list-style: none">{{#each people}}</li>

        <li>Name: {{ this.name }} Lastname: {{this.lastname}}</li>

        <li style="list-style: none">{{/each}}</li>
    </ul>
</body>
</html>